.mainMenu {
    flex: 1;
    /* background-image: url('../../assets/lab.jpg'); */
    /* background-size: 100% auto; */
    /* background-color: #3FCDFF; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-left: 100px;
    margin-top: 100px;
    width: 50%;
    scrollbar-width: none;
}

.mainMenu::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.mainMenuBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 200px;
}

.mainMenuItemPaper {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    padding: 20px;
    background: #2c07a7;
}

#mainMenuItemPaper {
    background: #2c07a7;
    color: white;
    cursor: pointer;
}