.editingModal {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--bg-color-3);
}

.modalCloseBtn {
  font-size: 20px;
  right: 40px;
  top: 20px;
  position: absolute;
  color: var(--text-color-1);
  cursor: pointer;
}

.popupBody {
  background-color: var(--bg-color-2);
  height: calc(100vh - 200px);
  width: 100%;
  margin: 45px;
  padding: 44px 25%;
  border-radius: 8px;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popupBody::-webkit-scrollbar {
  width: 0;
  display: none;
}

.title {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.assetId {
  display: flex;
  font-size: 28px;
  margin: 20px 0;
}

.fieldCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.fieldContainer {
  display: flex;
  font-size: 16px;
}

.fieldName {
  display: flex;
  justify-content: flex-start;
  width: 128px;
  color: var(--theme-color-4);
}

.fieldValue {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.vendorDetail {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--theme-color-1);
}

.select {
  width: 100%;
  flex: 1;
}

.selectArea {
  display: flex;
  gap: 30px;
}

.dateTimeArea {
  display: flex;
  width: 100%;
  gap: 30px;
}

.dateTimeInput {
  flex: 1;
}

.btn {
  width: 100%;
  padding: 10px 0;
}

.btnErr {
  color: var(--error-color-1) !important;
}