.pageContainer {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
}

.consumablesTable {
    padding: 20px;
    white-space: nowrap;
    display: flex;
    overflow-x: scroll;
    width: 100vw;
}

.consumablesTablePagination {
    position: absolute;
    left: 0;
}