.wrapper {
    display: flex;
    margin-left: 40px;
    border-bottom: 1px solid var(--border-color-1);
    width: fit-content;
    gap: 30px;
}

.contentWrapper {
    cursor: pointer;
    padding-bottom: 15px;
    font-size: 16px;
    color: var(--theme-color-4);
}

.contentWrapperSelected {
    cursor: pointer;
    padding-bottom: 15px;
    font-size: 16px;
    color: var(--theme-color-1);
    border-bottom: 1px solid var(--theme-color-1);
}