.mainMenuItemContainer {
    height: 144px;
    width: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--theme-color-1);
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-color-1);
}

.mainMenuItemContainer:hover {
    background-color: var(--theme-color-2);
}


.content {
    display: flex;
}

.iconWrapper {
    margin-right: 20px;
}