.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    /* background-color: #ffffff; */ 
}

.navLogo {
    cursor: pointer;
    height: 50px;
    width: 144px;
}

.navMenu {
    display: flex;
    padding: 0 5px;
}
