.pageContainer {
    padding: 40px 20px;
}

.utilStartBtn {
    width: 180px;
    height: 48px;
    line-height: 48px;
    outline: none;
    border: none;
    color: var(--text-color-1);
    font-size: 16px;
    background: var(--theme-color-1);
    cursor: pointer;
}

.utilTitle {
    color: var(--text-color-2);
    font-size: 20px;
}

.timeText {
    font-size: 36px;
    line-height: 72px;
    margin-top: 16px;
}

.utilTable {
    white-space: nowrap;
    scrollbar-width: none;
    overflow-x: scroll;
}

.utilTable::-webkit-scrollbar {
    display: none;
    width: 0;
}

.utilTable::-webkit-scrolbar:horizontal {
    height: 0 !important; 
    width: 0 !important;
    display: none !important;
}

.utilTablePagination {
    position: absolute;
    left: 0;
}

.rowCountSelectorWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}