.editingModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg-color-3);
}

.modalCloseBtn {
    font-size: 20px;
    right: 40px;
    top: 20px;
    position: absolute;
    color: var(--text-color-1);
    cursor: pointer;
}

.popupBody {
    background-color: var(--bg-color-2);
    width: 1000px;
    padding: 44px 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.titleIcon {
    font-size: 32px;
    margin-right: 5px;
}

.repairAssetId {
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    margin: 20px 0;
}

.fieldBodyContainer {
    width: 100%;
    display: flex;
}

.fieldCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.fieldContainer {
    display: flex;
    font-size: 16px;
}

.fieldName {
    display: flex;
    justify-content: flex-start;
    width: 128px;
    color: var(--theme-color-4);
}

.fieldValue {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.vendorDetail {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--theme-color-1);
}

.selectSection {
    margin-top: 40px;
    width: 100%;
}

.vendorSelectFieldName {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.problemSection {
    width: 100%;
    display: flex;
    gap: 10px;
}

.vendorSelectContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 10px 0;
}

.shortInput {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    margin: 10px 0;
}

.submitBtn {
    height: 50%;
    outline: none;
    border: none;
    color: var(--text-color-1);
    font-size: 16px;
    background: var(--theme-color-1);
    cursor: pointer;
}