.loginFooter {
    display: flex;
}

.loginFooterText {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #343434;
    font-size: 1.25rem;
    color: #ffffff;
    width: calc(100% - 1.75rem * 2);
    padding: 1.75rem;
    padding-right: 0;
}

.siLogoSvgWrapper {
    padding-left: 1rem;
    padding-right: 1.75rem;
    background-color: #343434;
    display: flex;
    align-items: center;
    position: relative;
}

.siLogoSvg {
    height: 1.5rem;
    background-color: #343434;
}