:root {
    --theme-color-1: rgb(0, 155, 210);
    --theme-color-2: rgb(63, 205, 255);
    --theme-color-3: rgb(0, 0, 0);
    --theme-color-4: #808080;

    --bg-color-1: #0c709c;

    --text-color-1: #ffffff;
    --text-color-2: #a8a8a8;

    --border-color-1: #e8e8e8;
}